@font-face {
  font-family: 'MyCustomFont';
  src: url('fonts/TSTAR\ PRO\ W00\ Medium.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'MyCustomFont', monospace;
}

nav {
  display: flex;
  align-items:first baseline
}